@inject UserService userService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DatingSite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div id="NavBody" class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Main" Match="NavLinkMatch.All">
                <span aria-hidden="true">Main</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Main/Edit Account">
                <span  aria-hidden="true">Edit Account</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wo">
                <span aria-hidden="true">Weather</span>
            </NavLink>
        </div>
    </nav>
    <nav>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="LogOut" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true" >Log Out</span>
            </NavLink>
        </div>
    </nav>

</div>

@code {
    public void LogOut() => userService.Id = null;
}