@page "/Create Account"
@page "/Edit Account/{Id:int}"
@inject IAccountService AccountService
@inject NavigationManager navigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@layout BlankLayout

@if (Id is null)
{
    <PageTitle>New Account</PageTitle>
    <h1>Create</h1>
}
else
{
    <PageTitle>Edit Account</PageTitle>
    <h1>Edit</h1>
}
<h3>Account</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="CurrentAccount" OnValidSubmit="AddAccount" FormName="create/edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="zipcode" class="form-label">Zipcode:</label>
                <InputNumber id="zipcode" @bind-Value="CurrentAccount.Zipcode" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Zipcode" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">Firstname:</label>
                <InputText id="firstname" @bind-Value="CurrentAccount.Firstname" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Firstname" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Lastname:</label>
                <InputText id="lastname" @bind-Value="CurrentAccount.Lastname" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Lastname" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="CurrentAccount.Email" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <InputText id="username" @bind-Value="CurrentAccount.Username" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Username" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText id="password" @bind-Value="CurrentAccount.Password" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Password" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate:</label>
                <InputDate id="birthdate" @bind-Value="CurrentAccount.Birthdate" class="form-control" />
                <ValidationMessage For="() => CurrentAccount.Birthdate" class="text-danger" />
            </div>
            @if(Id is null)
            {
            <button type="submit" class="btn btn-primary">Create</button>
            }
            else
            {
            <button type="submit" class="btn btn-primary">Save</button>
            }
        </EditForm>
    </div>
</div>
