@page "/Create Account"
@page "/Details/Edit Account"
@inject IAccountService AccountService
@inject UserService userservice
@inject NavigationManager navigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@layout BlankLayout

<div class="Foreground">
    @if (userservice.Id is null)
    {
        <PageTitle>DatingSite - New Account</PageTitle>
        <h1>Create</h1>
    }
    else
    {
        <PageTitle>DatingSite - Edit Account</PageTitle>
        <h1>Edit</h1>
    }

    <h3>Account</h3>
    <hr id="Break" />

    <EditForm Model="CurrentAccount" OnValidSubmit="HandleSubmit" FormName="create/edit Account" Enhance id="Form">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <div class="Inputs">
                <div>
                    <label for="firstname">Firstname</label>
                    <InputText id="firstname" @bind-Value="CurrentAccount.Firstname" class="form-control" />
                    <ValidationMessage For="() => CurrentAccount.Firstname" class="text-danger" />
                </div>

                <div>
                    <label for="lastname">Lastname</label>
                    <InputText id="lastname" @bind-Value="CurrentAccount.Lastname" class="form-control" />
                    <ValidationMessage For="() => CurrentAccount.Lastname" class="text-danger" />
                </div>
            </div>

            <div class="Inputs">
                <div>
                    <label for="email">Email</label>
                    <InputText id="email" @bind-Value="CurrentAccount.Email" class="form-control" />
                    <ValidationMessage For="() => CurrentAccount.Email" class="text-danger" />
                </div>

                <div id="TwoInput">
                    <div id="Birthdate">
                        <label for="birthdate">Birthdate</label>
                        <InputDate id="birthdate" @bind-Value="CurrentAccount.Birthdate" class="form-control" />
                        <ValidationMessage For="() => CurrentAccount.Birthdate" class="text-danger" />
                    </div>
                    <div id="Zip">
                        <label for="zipcode">Zipcode</label>
                        <InputNumber id="zipcode" @bind-Value="CurrentAccount.Zipcode" class="form-control" />
                        <ValidationMessage For="() => CurrentAccount.Zipcode" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="Inputs">
                <div>
                    <label for="username">Username</label>
                    <InputText id="username" @bind-Value="CurrentAccount.Username" class="form-control" />
                    <ValidationMessage For="() => CurrentAccount.Username" class="text-danger" />
                </div>

                <div>
                    <label for="password">Password</label>
                    <InputText id="password" @bind-Value="CurrentAccount.Password" class="form-control" />
                    <ValidationMessage For="() => CurrentAccount.Password" class="text-danger" />
                </div>
            </div>
        </div>

        <div id="btn">
            <button type="submit">
                @if (userservice.Id is null)
                {
                    <div>Create</div>
                }
                else
                {
                    <div>Save</div>
                }
            </button>

        </div>
    </EditForm>
</div>
