#NewProfile {
    background-color: cornflowerblue;
}

#Edit {
    background-color: darkorange;
}

#Profile {
    width: 35%;
    border: solid;
    border-width: 2px;
    border-color: rgb(105,105,105,0.25);
}

#Account {
    width: 35%;
    border: solid;
    border-width: 1px;
    border-color: rgb(105,105,105,0.25);
}

main {
    display: flex;
    justify-content: space-around;
}

div > h3 {
    text-align: center;
}

table{
    text-align:center;
}