@page "/"
@layout BlankLayout
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<div id="inputs">

    <div id="Buttons">
        <button id="Login">Login</button>
        <button id="SignUp" @onclick="AccountCreation">Sign up</button>
    </div>
</div>

@code {
    void AccountCreation() => navigationManager.NavigateTo("/Create Account");
}