@page "/"
@inject NavigationManager navigationManager
@inject IAccountService AccountService
@inject UserService Userservice
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@layout BlankLayout

<PageTitle>DatingSite - Login</PageTitle>

<div id="inputs">
    <EditForm Model="Attempt" OnValidSubmit="SignIn">
        <DataAnnotationsValidator />

        <div class="TextField">
            <label for="Username">Username</label>
            <InputText id="Username" @bind-Value=Attempt.Username class="form-control" />
            <ValidationMessage For="() =>Attempt.Username" class="text-danger" />
        </div>

        <div class="TextField">
            <label for="Password">Password</label>
            <InputText id="Password" @bind-Value=Attempt.Password class="form-control" />
            <ValidationMessage For="()=>Attempt.Password" class="text-danger" />
        </div>
    </EditForm>

    @if (WrongLogIn == true)
    {
        <div class="text-danger">Username or password is incorrect</div>
    }

    <hr />

    <div id="Buttons">
        <button id="Login" @onclick="SignIn">Login</button>
        <button id="SignUp" @onclick="AccountCreation">Sign up</button>
    </div>
</div>