@page "/"
@layout BlankLayout
@inject NavigationManager navigationManager
@inject IAccountService accountService

<PageTitle>Login</PageTitle>

<div id="inputs">
   @*  <EditForm>

    </EditForm> *@
    <div id="Buttons">
        <button id="Login" @onclick="SignIn">Login</button>
        <button id="SignUp" @onclick="AccountCreation">Sign up</button>
    </div>
</div>
