@page "/Details/Edit Profile/{ProfileId:int}"
@page "/Create Profile"
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject IProfileService ProfileService
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@layout BlankLayout

<div class="Foreground">
    @if (ProfileId is null)
    {
        <PageTitle>DatingSite - New Profile</PageTitle>
        <h1>Create</h1>
    }
    else
    {
        <PageTitle>DatingSite - Edit Profile</PageTitle>
        <h1>Edit</h1>
    }

    <h3>Profile</h3>
    <hr id="Break" />

    <EditForm Model="CurrentProfile" OnValidSubmit="HandleSubmit" FormName="create/edit Profile" Enhance id="Form">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="Inputs">
            <div>
                <label for="Nickname">Nickname</label>
                <InputText id="Nickname" @bind-Value="CurrentProfile.Nickname" class="form-control" />
                <ValidationMessage For="() => CurrentProfile.Nickname" class="text-danger" />
            </div>

            <div class="Measurements">
                <label for="Gender">Gender</label>
                <InputSelect id="Gender" @bind-Value="CurrentProfile.Gender" class="form-control">
                    @if (ProfileId == null)
                    {
                        <option selected disabled>Select</option>
                    }
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </InputSelect>
                <ValidationMessage For="() => CurrentProfile.Gender" class="text-danger" />
            </div>

            <div class="Measurements">
                <label for="Height">Height</label>
                <InputNumber id="Weight" @bind-Value="CurrentProfile.Height" class="form-control" />
                <ValidationMessage For="() => CurrentProfile.Height" class="text-danger" />
            </div>

            <div class="Measurements">
                <label for="Weight">Weight</label>
                <InputNumber id="Weight" @bind-Value="CurrentProfile.Weight" class="form-control" />
                <ValidationMessage For="() => CurrentProfile.Weight" class="text-danger" />
            </div>
        </div>

        <div id="btn">
            <button type="submit">
                @if (ProfileId is null)
                {
                    <div>Create</div>
                }
                else
                {
                    <div>Save</div>
                }
            </button>
        </div>
    </EditForm>
</div>

