@page "/Profiles"
@inject NavigationManager NavigationManager
@inject IProfileServices ProfileService
@inject UserService UserService

<PageTitle>DatingSite</PageTitle>

<h1>Choose a profile to use</h1>
<hr/>



